<div class="page">
  <div class="card">
    <h1>Prijava</h1>

    <label>Email</label>
    <input class="input" type="email" [(ngModel)]="email" placeholder="email" />

    <label>Lozinka</label>
    <input class="input" type="password" [(ngModel)]="password" placeholder="lozinka"
           (keyup.enter)="login()" />

    <button class="btn" type="button" (click)="login()" [disabled]="loading">Prijavi se</button>

    <hr />

    <h2>Registracija</h2>

    <label>Novi email</label>
    <input class="input" type="email" [(ngModel)]="rEmail" placeholder="novi email" />

    <label>Nova lozinka</label>
    <input class="input" type="password" [(ngModel)]="rPassword" placeholder="nova lozinka"
           (keyup.enter)="register()" />

    <button class="btn" type="button" (click)="register()" [disabled]="loading">Registriraj</button>

    <div class="alert error" *ngIf="error">{{ error }}</div>
  </div>
</div>
